.cache
test-work
/out/
.DS_Store
_book
dependency-reduced-pom.xml
.gradle
/.gradle/
*/.clion.source.upload.marker
LOG_FILE_IS_UNDEFINED

# Editor directories and files
.settings
target
build
.classpath
.project
*.iml
*/*.iml
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.tar
*.tar.gz
pom.xml.versionsBackup

# codes
gen

# buildTools
package/buildTools/gradle/
package/buildTools/.gradle/
package/buildTools/gradlew
package/buildTools/gradlew.bat

# log
logs/*
LOG_FILE_IS_UNDEFINED*

# electron
package/electron/dist/

# web
node_modules
dist