<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.console.web.dal.mapper.DmTicketMapper">

    <resultMap id="dmTicketDO" type="com.clougence.clouddm.console.web.dal.model.DmTicketDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="rdp_ticket_ins_id" property="rdpTicketInsId"/>
        <result column="session_id" property="sessionId"/>
        <result column="explain_sql_data" property="explainSqlData"/>
        <result column="risk_sql_count" property="riskSqlCount"/>
        <result column="raw_sql" property="rawSql"/>
        <result column="total_count" property="totalCount"/>
        <result column="expected_affected_rows" property="expectedAffectedRows"/>
        <result column="roll_back_sql" property="rollBackSql"/>
        <result column="deleted" property="deleted"/>
        <result column="ticket_info" property="ticketInfo"/>
        <result column="levels" property="levels" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="checked_info" property="checkedInfo"/>
    </resultMap>

    <sql id="all_ticket_col">
        id,
        gmt_create,
        gmt_modified,
        rdp_ticket_ins_id,
        session_id,
        explain_sql_data,
        risk_sql_count,
        raw_sql,
        total_count,
        expected_affected_rows,
        roll_back_sql,
        deleted,
        ticket_info,
        levels,
        checked_info
    </sql>

    <select id="getDmTickedId" resultType="java.lang.Long">
        select id
        from dm_ticket_details_inst
        where rdp_ticket_ins_id = #{rdpTickedInsId}
    </select>

    <update id="logicDeleteById">
        update
            dm_ticket_details_inst
        set deleted = true
        where id = #{id}
    </update>

    <update id="logicDeleteByIds">
        update
            dm_ticket_details_inst
        set
            deleted = true
        where
            id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </update>

    <update id="updateTicketInfo">
        update
            dm_ticket_details_inst
        set
            ticket_info = #{ticketInfo}
        where id = #{ticketId}
    </update>

    <select id="getDmTicketInfo" resultMap="dmTicketDO">
        select
            <include refid="all_ticket_col"/>
        from
            dm_ticket_details_inst
        where rdp_ticket_ins_id = #{rdpTickedInsId}
    </select>
</mapper>
