<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.cicd.DmChangeFlowItemMapper">
    <resultMap id="dmChangeFlowItemDO" type="com.clougence.clouddm.platform.dal.model.cicd.DmChangeFlowItemDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="ref_flow_id" property="refFlowId"/>
        <result column="content_name" property="contentName"/>
        <result column="content_index" property="contentIndex"/>
        <result column="content" property="content"/>
    </resultMap>

    <sql id="dmChangeFlowItemColumns">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        ref_flow_id,
        content_name,
        content_index,
        content
    </sql>

    <select id="queryItemByFlowId" resultMap="dmChangeFlowItemDO">
        SELECT
            <include refid="dmChangeFlowItemColumns"/>
        FROM
            dm_change_flow_item
        WHERE
            owner_uid   = #{ownerUid}
            AND
            ref_flow_id = #{flowId}
        ORDER BY content_index ASC
    </select>

    <select id="queryItemByFlowIdAndName" resultMap="dmChangeFlowItemDO">
        SELECT
            <include refid="dmChangeFlowItemColumns"/>
        FROM
            dm_change_flow_item
        WHERE
            owner_uid    = #{ownerUid}
            AND
            ref_flow_id  = #{flowId}
            AND
            content_name = #{contentName}
        LIMIT 1
    </select>

    <delete id="deleteItemByFlowId">
        DELETE FROM
            dm_change_flow_item
        WHERE
            owner_uid   = #{ownerUid}
            AND
            ref_flow_id = #{flowId}
    </delete>

    <insert id="insertFromChangeItems">
        INSERT INTO
            dm_change_flow_item
            (
                gmt_create,
                gmt_modified,
                owner_uid,
                ref_flow_id,
                content_name,
                content_index,
                content
            )
        SELECT
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            owner_uid,
            #{flowId},
            content_name,
            content_index,
            content
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_id        = #{changeId}
            AND
            ref_change_item_type = 'SQL'
        ORDER BY content_index ASC
    </insert>
</mapper>
