<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.datasource.DmDsMetaDataMapper">
    <resultMap id="dmAsyncTaskDO" type="com.clougence.clouddm.platform.dal.model.datasource.DmDsMetaDataDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="primary_uid" property="primaryUid"/>
        <result column="ds_id" property="dsId"/>
        <result column="path" property="path"/>
        <result column="type" property="type"/>
        <result column="context" property="context"/>
    </resultMap>

    <sql id="dmMetaInformationCacheDOMap">
        id,
        gmt_create,
        gmt_modified,
        primary_uid,
        ds_id,
        path,
        type,
        context
    </sql>

    <insert id="insertOrUpdate">
        INSERT INTO
            dm_ds_meta_data(primary_uid, ds_id, path, type, context)
        VALUES
            (
                #{puid},
                #{dsId},
                #{path},
                #{type},
                #{context}
            )
        ON DUPLICATE KEY UPDATE
            context      = #{context},
            gmt_modified = NOW()
    </insert>

    <delete id="deleteByPath">
        DELETE FROM
            dm_ds_meta_data
        WHERE
            ds_id = #{dsId}
            AND
            path  = #{path}
            AND
            type  = #{type}
            AND
            #{time} <![CDATA[ > ]]> gmt_modified
    </delete>

    <delete id="deleteByPathLike">
        DELETE FROM
            dm_ds_meta_data
        WHERE
            ds_id = #{dsId}
            AND
            path  LIKE CONCAT(#{path}, '%')
            AND
            #{time} <![CDATA[ > ]]> gmt_modified
    </delete>

    <delete id="deleteBeforeDate">
        DELETE FROM
            dm_ds_meta_data
        WHERE
            #{date} <![CDATA[ > ]]> gmt_modified
        LIMIT 200
    </delete>

    <select id="queryCache" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmMetaInformationCacheDOMap"/>
        FROM
            dm_ds_meta_data
        WHERE
            ds_id = #{dsId}
            AND
            type  = #{type}
            AND
            path  = #{path}
            AND
            type  = #{type}
    </select>
</mapper>
