<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.execution.DmExecAsyncTaskMapper">
    <resultMap id="dmAsyncTaskDO" type="com.clougence.clouddm.platform.dal.model.execution.DmExecAsyncTaskDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="biz_id" property="bizId"/>
        <result column="biz_type" property="bizType"/>
        <result column="depend_on_biz_id" property="dependOnBizId"/>
        <result column="depend_on_biz_type" property="dependOnBizType"/>
        <result column="owner_uid" property="uid"/>
        <result column="handler_name" property="handlerName"/>
        <result column="handler_type" property="handlerType"/>
        <result column="config_data" property="configData"/>
        <result column="show_in_dock" property="showInDock"/>
        <result column="process_type" property="processType"/>
        <result column="process_value" property="processValue"/>
        <result column="fast_fail" property="fastFail"/>
        <result column="status" property="status"/>
        <result column="status_msg" property="statusMsg"/>
        <result column="time_of_start" property="timeOfStart"/>
        <result column="time_of_last" property="timeOfLast"/>
        <result column="time_of_finish" property="timeOfFinish"/>
    </resultMap>

    <sql id="dmAsyncTaskDOMap">
        id,
        gmt_create,
        gmt_modified,
        title,
        description,
        biz_id,
        biz_type,
        depend_on_biz_id,
        depend_on_biz_type,
        owner_uid,
        handler_name,
        handler_type,
        config_data,
        show_in_dock,
        process_type,
        process_value,
        fast_fail,
        status,
        status_msg,
        time_of_start,
        time_of_last,
        time_of_finish
    </sql>

    <update id="resetAsyncTaskStatus">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'WAIT_START',
            gmt_modified = NOW()
        WHERE
            console_ip = #{consoleIp}
            AND
            status     = 'RUNNING'
    </update>

    <update id="resetCancelingAsyncTaskStatus">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'CANCEL',
            gmt_modified = NOW()
        WHERE
            console_ip = #{consoleIp}
            AND
            status     = 'CANCELING'
    </update>

    <update id="resetPausingAsyncTaskStatus">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'PAUSE',
            gmt_modified = NOW()
        WHERE
            console_ip = #{consoleIp}
            AND
            status     = 'PAUSING'
    </update>

    <update id="resetInitAsyncTaskStatus">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'CANCEL',
            gmt_modified = NOW()
        WHERE
            console_ip = #{consoleIp}
            AND
            status     = 'INIT'
    </update>

    <select id="queryWaitTask" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            status     = 'WAIT_START'
            AND
            console_ip = #{consoleIp}
        ORDER BY
            gmt_create ASC
        LIMIT
            #{limit}
    </select>

    <select id="queryByBiz" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            biz_id   = #{bizId}
            AND
            biz_type = #{bizType}
    </select>

    <update id="updateFromWaitTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id     = #{taskId}
            AND
            status = 'WAIT_START'
    </update>

    <update id="updateFromRunningTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id     = #{taskId}
            AND
            status = 'RUNNING'
    </update>

    <update id="updateStatusTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id = #{taskId}
    </update>

    <select id="queryById" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            id = #{taskId}
    </select>

    <select id="queryDepends" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            biz_depend_on_id   = #{bizId}
            AND
            biz_depend_on_type = #{bizType}
    </select>

    <update id="batchResumeFromBlock">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'WAIT_START',
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id IN
            <foreach collection="taskIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            AND
            status = 'BLOCK'
    </update>

    <update id="updateFromBlockTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            status = 'BLOCK'
            AND
            id     = #{taskId}
    </update>

    <update id="updateFromPauseTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            status = 'PAUSE'
            AND
            id     = #{taskId}
    </update>

    <update id="retryFailureOrCancelTask">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'WAIT_START',
            console_ip   = #{consoleIp},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            (status = 'FAILURE' OR status = 'CANCEL')
            AND
            id      = #{taskId}
    </update>

    <update id="resumePauseTask">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'WAIT_START',
            console_ip   = #{consoleIp},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            status = 'PAUSE'
            AND
            id     = #{taskId}
    </update>

    <update id="activateTask">
        UPDATE
            dm_exec_async_task
        SET
            status       = 'WAIT_START',
            console_ip   = #{consoleIp},
            gmt_modified = NOW()
        WHERE
            status = 'INIT'
            AND
            id     = #{taskId}
    </update>

    <select id="queryByIdAndOwnerUid" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            id        = #{taskId}
            AND
            owner_uid = #{ownerUid}
    </select>

    <select id="queryRunListByOwner" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            owner_uid    = #{ownerUid}
            AND
            show_in_dock = #{inDock}
            AND
            status NOT   IN ('FAILURE', 'COMPLETE', 'CANCEL')
        ORDER BY
            gmt_create DESC
        LIMIT
            #{limit}
    </select>

    <select id="queryFinishListByOwner" resultMap="dmAsyncTaskDO">
        SELECT
            <include refid="dmAsyncTaskDOMap"/>
        FROM
            dm_exec_async_task
        WHERE
            owner_uid    = #{ownerUid}
            AND
            show_in_dock = #{inDock}
            AND
            status       IN ('FAILURE', 'COMPLETE', 'CANCEL')
        ORDER BY
            gmt_create DESC
        LIMIT
            #{limit}
    </select>

    <update id="updateStatusMessage">
        UPDATE
            dm_exec_async_task
        SET
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id = #{taskId}
    </update>

    <update id="updateFromCancelingTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id     = #{taskId}
            AND
            status = 'CANCELING'
    </update>

    <update id="updateFromInitTo">
        UPDATE
            dm_exec_async_task
        SET
            status       = #{toStatus},
            status_msg   = #{message},
            gmt_modified = NOW()
        WHERE
            id     = #{taskId}
            AND
            status = 'INIT'
    </update>

    <update id="updateProcess">
        UPDATE
            dm_exec_async_task
        SET
            process_type  = #{processType},
            process_value = #{processValue},
            gmt_modified  = NOW()
        WHERE
            id = #{taskId}
    </update>
</mapper>
