<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.execution.DmExecAutoTaskMapper">
    <resultMap id="taskDO" type="com.clougence.clouddm.platform.dal.model.execution.DmExecAutoTaskDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="auto_exec_job_id" property="autoExecJobId"/>
        <result column="exec_order" property="execOrder"/>
        <result column="exec_sql" property="execSql"/>
        <result column="biz_id" property="bizId"/>
        <result column="query_id" property="queryId"/>
        <result column="status" property="status"/>
        <result column="affect_row" property="affectRow"/>
        <result column="exec_count" property="execCount"/>
        <result column="gmt_last_start" property="gmtLastStart"/>
        <result column="gmt_last_end" property="gmtLastEnd"/>
    </resultMap>

    <sql id="sqlTask">
        id,
        gmt_create,
        gmt_modified,
        auto_exec_job_id,
        exec_order,
        exec_sql,
        status,
        affect_row,
        biz_id,
        query_id,
        exec_count,
        gmt_last_start,
        gmt_last_end
    </sql>

    <insert id="batchInsert">
        INSERT INTO
            dm_exec_auto_task (
            auto_exec_job_id,
            exec_order,
            exec_sql,
            status,
            biz_id,
            query_id
            )
        VALUES
            <foreach collection="tasks" item="task" separator=",">
                (
                    #{task.autoExecJobId},
                    #{task.execOrder},
                    #{task.execSql},
                    #{task.status},
                    #{task.bizId},
                    #{task.queryId}
                )
            </foreach>
    </insert>

    <delete id="deleteByJobId">
        DELETE FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
    </delete>

    <update id="updateStatusByTaskId">
        UPDATE
            dm_exec_auto_task
        SET
            status = #{status}
        WHERE
            id = #{taskId}
    </update>

    <update id="transactionCommit">
        UPDATE
            dm_exec_auto_task
        SET
            status = 'FINISH'
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           = 'WAIT_CONFIRM'
    </update>

    <update id="transactionRollback">
        UPDATE
            dm_exec_auto_task
        SET
            status = 'ROLLBACK'
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_CONFIRM', 'EXECUTING')
    </update>

    <update id="updateStatusAndAffectLineByTaskId">
        UPDATE
            dm_exec_auto_task
        SET
            status     = #{status},
            affect_row = #{affectRow}
        WHERE
            id = #{taskId}
    </update>

    <update id="retryTask">
        UPDATE
            dm_exec_auto_task
        SET
            status = 'WAIT_EXEC'
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('FAILED', 'ROLLBACK', 'WAIT_CONFIRM', 'EXECUTING')
    </update>

    <update id="taskSkip">
        UPDATE
            dm_exec_auto_task
        SET
            status = 'CANCELED'
        WHERE
            query_id = #{queryId}
    </update>

    <delete id="cancelAllWaitTask">
        UPDATE
            dm_exec_auto_task
        SET
            status = 'CANCELED'
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_EXEC', 'EXECUTING')
    </delete>

    <select id="queryNeedExecTaskIdsBatch" resultType="java.lang.Long">
        SELECT
            id
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_EXEC', 'FAILED', 'ROLLBACK')
            AND
            exec_order       <![CDATA[ > ]]> #{afterExecOrder}
        ORDER BY exec_order
        LIMIT #{batchSize}
    </select>

    <select id="queryNeedExecTasksByIds" resultMap="taskDO">
        SELECT
            <include refid="sqlTask"/>
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_EXEC', 'FAILED', 'ROLLBACK')
            AND
            id               IN
            <foreach collection="taskIds" item="taskId" separator="," open="(" close=")">
                #{taskId}
            </foreach>
        ORDER BY exec_order
    </select>

    <select id="queryByBizId"  resultMap="taskDO">
        SELECT
            <include refid="sqlTask"/>
        FROM
            dm_exec_auto_task
        WHERE
            biz_id = #{bizId}
    </select>

    <select id="queryByQueryId" resultMap="taskDO">
        SELECT
            <include refid="sqlTask"/>
        FROM
            dm_exec_auto_task
        WHERE
            query_id = #{queryId}
    </select>

    <select id="queryListByJobId" resultMap="taskDO">
        SELECT
            <include refid="sqlTask"/>
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            <if test="status != null">
                AND
                status = #{status}
            </if>
    </select>

    <select id="querySummaryListByJobId" resultMap="taskDO">
        SELECT
            id,
            gmt_create,
            gmt_modified,
            auto_exec_job_id,
            exec_order,
            CASE
            WHEN CHAR_LENGTH(exec_sql) <![CDATA[ > ]]> #{sqlSummaryLength}
            THEN CONCAT(SUBSTRING(exec_sql, 1, #{sqlSummaryLength}), '...')
            ELSE exec_sql
            END AS exec_sql,
            status,
            affect_row,
            biz_id,
            query_id,
            exec_count,
            gmt_last_start,
            gmt_last_end
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            <if test="status != null">
                AND
                status = #{status}
            </if>
    </select>

    <select id="queryOneByJobIdAndStatus" resultMap="taskDO">
        SELECT
            <include refid="sqlTask"/>
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           = #{status}
    </select>

    <select id="queryNeedExecTaskCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_EXEC', 'FAILED', 'ROLLBACK')
    </select>

    <select id="queryNeedExecTaskMaxOrder" resultType="java.lang.Integer">
        SELECT
            COALESCE(MAX(exec_order), 0)
        FROM
            dm_exec_auto_task
        WHERE
            auto_exec_job_id = #{jobId}
            AND
            status           IN ('WAIT_EXEC', 'FAILED', 'ROLLBACK')
    </select>
</mapper>
