<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.secrule.DmSecRefererMapper">
    <resultMap id="dmSecRefererDO" type="com.clougence.clouddm.platform.dal.model.secrule.DmSecRefererDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="enable" property="enable"/>
        <result column="ref_rule" property="refRule"/>
        <result column="ref_spec" property="refSpec"/>
        <result column="ref_kind" property="refRuleKind"
                javaType="com.clougence.clouddm.platform.dal.model.secrule.RuleKind"/>
        <result column="ref_md5" property="refMD5"/>
        <result column="rule_param" property="ruleParam"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="warn_level" property="warnLevel"
                javaType="com.clougence.clouddm.platform.dal.model.secrule.WarnLevel"/>
        <result column="sen_mode" property="senMode"
                javaType="com.clougence.clouddm.platform.dal.model.secrule.RuleSensitiveMode"/>
    </resultMap>

    <sql id="allColumns">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        enable,
        ref_rule,
        ref_spec,
        ref_kind,
        rule_param,
        ref_md5,
        warn_level,
        sen_mode
    </sql>

    <select id="fixListAllRuleIdEmpty" resultMap="dmSecRefererDO">
        SELECT
            *
        FROM
            dm_sec_referer
        WHERE
            ref_rule_id IS NULL
    </select>

    <update id="fixUpdateRuleId">
        UPDATE
            dm_sec_referer
        SET
            ref_rule_id  = #{ruleId},
            gmt_modified = NOW()
        WHERE
            id = #{id}
        LIMIT 1
    </update>

    <select id="listBySpecId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_spec  = #{refSpecId}
            AND
            owner_uid = #{ownerUid}
    </select>

    <select id="listBySpecAndKind" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_spec  = #{refSpecId}
            AND
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
            AND
            owner_uid = #{ownerUid}
    </select>

    <select id="listByRuleId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            ref_rule  = #{refRuleOrSenId}
            AND
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </select>

    <select id="listAllByRuleId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_rule = #{refRuleOrSenId}
            AND
            ref_kind = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </select>

    <select id="queryBySpecAndRuleOrSen" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            ref_spec  = #{refSpecId}
            AND
            ref_rule  = #{refRuleOrSenId}
            AND
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
        LIMIT 1
    </select>

    <select id="queryById" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            id        = #{refId}
    </select>

    <delete id="deleteBySpecId">
        DELETE FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            ref_spec  = #{refSpecId}
    </delete>

    <delete id="deleteById">
        DELETE FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            id        = #{refId}
    </delete>

    <delete id="deleteByRuleId">
        DELETE FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid}
            AND
            ref_rule  = #{refRuleOrSenId}
            AND
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </delete>

    <update id="updateRuleReferer">
        UPDATE
            dm_sec_referer
        SET
            enable       = #{refererDO.enable},
            warn_level   = #{refererDO.warnLevel, javaType=com.clougence.clouddm.platform.dal.model.secrule.WarnLevel},
            sen_mode     = #{refererDO.senMode, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleSensitiveMode},
            rule_param   = #{refererDO.ruleParam, typeHandler =com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            ref_md5      = #{refererDO.refMD5},
            gmt_modified = NOW()
        WHERE
            owner_uid = #{ownerUid}
            AND
            id        = #{refId}
        LIMIT 1
    </update>

    <update id="markDeprecatedByRefId">
        UPDATE
            dm_sec_referer
        SET
            enable       = 0,
            gmt_modified = NOW()
        WHERE
            ref_rule = #{refRuleOrSenId}
            AND
            ref_kind = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </update>
</mapper>
